FORMAT: 1A
HOST: http://dev2.letscaptivate.com/api

# Captivate API
Welcome to Captivate API.



# Users [/user]
In our Application all contacts are submitted by users. User can be *visitor*, *lead* or *user*

## User object
|Atrribute|Type|Description|
|:--------|----|-----------|
|user_id|string|The unique identifier for the user|
|app_id|App object|Link for application. Application ID.|
|owner_id|Admin object|The id of an admin that has been assigned account ownership of the contact.|
|acquired_at|datetime||
|company_ids|array||
|name|string|User name|
|owner_name|string|Owner name|
|pseudonym|string||
|display_as|string||
|email|string|User email|
|phone|string|User phone number|
|avatar|json||
|user_time|json||
|user_agent_data|json||
|last_heard_from_at|datetime||
|last_contacted_at|datetime||
|last_request_at|datetime||
|session_for_email_notification_started_at|datetime||
|last_request_at_ios|datetime||
|last_session_start|datetime||
|last_session_lasted|integer||
|last_seen_ip|string||
|remote_created_at|datetime||
|referral_url|string||
|session_count|integer||
|session_count_ios|integer||
|social_accounts|json||
|tag_ids|array||
|segment_ids|array||
|unsubscribed_from_emails|boolean||
|geoip_data|json||
|ios_app_name|string||
|ios_app_version|string||
|ios_device|string||
|ios_os_version|string||
|custom_data|json||
|android_app_name|string||
|android_app_version|string||
|android_device|string||
|android_os_version|string||
|browser_locale|string||
|language_override|string||
|last_request_at_android|string||
|session_count_android|integer||
|user_event_summaries|json||
|healthscore|integer||
|last_visited_url|string||
|has_device_token|string||
|role|string||
|enabled_push_messaging|boolean||
|is_mobile_unidentified|boolean||
|marked_email_as_spam|boolean||
|has_hard_bounce|boolean||
|last_email_opened_at|datetime||
|last_email_clicked_at|datetime||
|utm_campaign|string||
|utm_content|string||
|utm_medium|string||
|utm_source|string||
|utm_term|string||
|campaigns|array||
|conv_actions|json||
|link_clicks|json||
|camp_actions|json||

## List all users [GET]
You can fetch a list of all users.

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token 
    
    + Body 
            
            {}

+ Response 200 (application/json)

    + Body 

            [   // user 1
                {
                    "app_id": "5c60465aef96db00109429f0",
                    "role": "user",
                    "custom_data": {},
                    "tag_ids": [
                      "5da9ddb2a4ce2d0010ad6f52"
                    ],
                    "email": "ktitorovk@gmail.com",
                    "name": "K Kostya",
                    "remote_created_at": "2019-01-03T12:50:00.000Z",
                    "user_event_summaries": {},
                    "user_id": null,
                    "acquired_at": null,
                    "company_ids": [
                      "5ddd668fd12b7f3820b1d281"
                    ],
                    "pseudonym": null,
                    "display_as": "K Kostya",
                    "phone": null,
                    "avatar": {
                        "initials": "KK",
                        "color": "#7d5d9e",
                        "image_urls": {
                            "mini": null,
                            "mini_x2": null,
                            "normal": null,
                            "normal_x2": null,
                            "large": null
                        },
                        "image_url": null
                    },
                    "user_time": {
                        "local_time": null,
                        "timezone": null,
                        "timezone_code": null,
                        "local_time_12h": null
                    },
                    "user_agent_data": {
                        "source": null,
                        "name": null,
                        "version": null,
                        "engine": null,
                        "engine_version": null,
                        "os": null,
                        "platform": null,
                        "mobile": "boolean"
                    },
                    "last_heard_from_at": null,
                    "last_contacted_at": null,
                    "last_request_at": null,
                    "last_request_at_ios": null,
                    "last_session_lasted": null,
                    "last_seen_ip": null,
                    "referral_url": null,
                    "session_count": null,
                    "session_count_ios": null,
                    "social_accounts": {},
                    "segment_ids": [
                        "5c60465aef96db00109429f6",
                        "5cee72af993ff0001032aa0d"
                    ],
                    "unsubscribed_from_emails": null,
                    "geoip_data": {
                        "city_name": null,
                        "continent_code": null,
                        "country_code2": null,
                        "country_code3": null,
                        "country_name": null,
                        "postal_code": null,
                        "region_code": null,
                        "region_name": null,
                        "timezone": null,
                        "latitude": null,
                        "longitude": null
                    },
                    "ios_app_name": null,
                    "ios_app_version": null,
                    "ios_device": null,
                    "ios_os_version": null,
                    "android_app_name": null,
                    "android_app_version": null,
                    "android_device": null,
                    "android_os_version": null,
                    "browser_locale": null,
                    "language_override": null,
                    "last_request_at_android": null,
                    "session_count_android": null,
                    "healthscore": null,
                    "last_visited_url": null,
                    "has_device_token": null,
                    "enabled_push_messaging": null,
                    "is_mobile_unidentified": null,
                    "marked_email_as_spam": null,
                    "has_hard_bounce": null,
                    "last_email_opened_at": null,
                    "last_email_clicked_at": null,
                    "utm_campaign": null,
                    "utm_content": null,
                    "utm_medium": null,
                    "utm_source": null,
                    "utm_term": null,
                    "created_at": "2019-10-18T15:43:47.726Z",
                    "updated_at": "2019-10-18T15:43:47.726Z",
                    "id": "5da9ddb3a4ce2d0010ad6f53",
                    "conversation_stats": {
                        "count": 76,
                        "count_opened": 76,
                        "count_close": 0
                    }
                },
                { // user 2
                    "app_id": "5c60465aef96db00109429f0",
                    "role": "user",
                    "custom_data": {},
                    "tag_ids": [
                        "5da9ddb2a4ce2d0010ad6f52"
                    ],
                    "email": "ktitorov@gmail.com",
                    "name": "Kostya",
                    "remote_created_at": "2019-01-03T12:50:00.000Z",
                    "user_event_summaries": {},
                    "user_id": null,
                    "acquired_at": null,
                    "company_ids": [
                        "5ddd668fd12b7f3820b1d281"
                    ],
                    "pseudonym": null,
                    "display_as": "Kostya",
                    "phone": null,
                    "avatar": {
                        "initials": "K",
                        "color": "#a2edb7",
                        "image_urls": {
                            "mini": null,
                            "mini_x2": null,
                            "normal": null,
                            "normal_x2": null,
                           "large": null
                        },
                        "image_url": null
                    },
                    "user_time": {
                        "local_time": null,
                        "timezone": null,
                        "timezone_code": null,
                        "local_time_12h": null
                    },
                    "user_agent_data": {
                        "source": null,
                        "name": null,
                        "version": null,
                        "engine": null,
                        "engine_version": null,
                        "os": null,
                        "platform": null,
                        "mobile": "boolean"
                    },
                    "last_heard_from_at": null,
                    "last_contacted_at": null,
                    "last_request_at": null,
                    "last_request_at_ios": null,
                    "last_session_lasted": null,
                    "last_seen_ip": null,
                    "referral_url": null,
                    "session_count": null,
                    "session_count_ios": null,
                    "social_accounts": {},
                    "segment_ids": [
                        "5c60465aef96db00109429f6",
                        "5cee72af993ff0001032aa0d"
                    ],
                    "unsubscribed_from_emails": null,
                    "geoip_data": {
                        "city_name": null,
                        "continent_code": null,
                        "country_code2": null,
                        "country_code3": null,
                        "country_name": null,
                        "postal_code": null,
                        "region_code": null,
                        "region_name": null,
                        "timezone": null,
                        "latitude": null,
                        "longitude": null
                    },
                    "ios_app_name": null,
                    "ios_app_version": null,
                    "ios_device": null,
                    "ios_os_version": null,
                    "android_app_name": null,
                    "android_app_version": null,
                    "android_device": null,
                    "android_os_version": null,
                    "browser_locale": null,
                    "language_override": null,
                    "last_request_at_android": null,
                    "session_count_android": null,
                    "healthscore": null,
                    "last_visited_url": null,
                    "has_device_token": null,
                    "enabled_push_messaging": null,
                    "is_mobile_unidentified": null,
                    "marked_email_as_spam": null,
                    "has_hard_bounce": null,
                    "last_email_opened_at": null,
                    "last_email_clicked_at": null,
                    "utm_campaign": null,
                    "utm_content": null,
                    "utm_medium": null,
                    "utm_source": null,
                    "utm_term": null,
                    "created_at": "2019-10-18T15:43:47.914Z",
                    "updated_at": "2019-10-18T15:43:47.914Z",
                    "id": "5da9ddb3a4ce2d0010ad6f56",
                    "conversation_stats": {
                        "count": 46,
                        "count_opened": 46,
                        "count_close": 0
                    }
                    // user 3 and so on
                }
            ]

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Search user [POST /user/search{?include_count,limit,skip,sort}]
You can search users, search criteria are predicates. 

+ Parameters

    + include_count: true (boolean, required)
    + limit: 25 (number, required)
    + skip: 0 (number, required)
    + sort: "last_request_at desc" (string, required)

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "predicates": [
                    {
                        "type": "string",
                        "attribute": "role",
                        "comparison": "eq",
                        "value": "user",
                        "operator": "and",
                        "hyper_type": "string",
                        "notDraggable": true,
                        "iconClass": "users",
                        "attributeTitle": "User Type",
                        "attributeDescription": "",
                        "id": "5aacfffc47e952210d5806ec"
                    },
                    {
                        "type": "string",
                        "id": "586c13daf0d5dbce55c009fe",
                        "attribute": "geoip_data.city_name",
                        "operator": "and",
                        "attributeTitle": "City",
                        "attributeDescription": "The city a person is in (or their IP address location)",
                        "iconClass": "users",
                        "hyper_type": "string",
                        "comparison": "eq",
                        "value": "Moscow"
                    }
                    // More predicates
                ]
            }

+ Response 200 (application/json)

        [
            {
                "app_id": "5c60465aef96db00109429f0",
                "role": "user",
                "custom_data": {},
                "tag_ids": [
                    "5da9ddb2a4ce2d0010ad6f52"
                ],
                "email": "ktitorovk@gmail.com",
                "name": "K Kostya",
                "remote_created_at": "2019-01-03T12:50:00.000Z",
                "user_event_summaries": {},
                "user_id": null,
                "acquired_at": null,
                "company_ids": [
                    "5ddd668fd12b7f3820b1d281"
                ],
                "pseudonym": null,
                "display_as": "K Kostya",
                "phone": null,
                "avatar": {
                    "initials": "KK",
                    "color": "#7d5d9e",
                    "image_urls": {
                        "mini": null,
                        "mini_x2": null,
                        "normal": null,
                        "normal_x2": null,
                        "large": null
                    },
                    "image_url": null
                },
                "user_time": {
                    "local_time": null,
                    "timezone": null,
                    "timezone_code": null,
                    "local_time_12h": null
                },
                "user_agent_data": {
                    "source": null,
                    "name": null,
                    "version": null,
                    "engine": null,
                    "engine_version": null,
                    "os": null,
                    "platform": null,
                    "mobile": "boolean"
                },
                "last_heard_from_at": null,
                "last_contacted_at": null,
                "last_request_at": null,
                "last_request_at_ios": null,
                "last_session_lasted": null,
                "last_seen_ip": null,
                "referral_url": null,
                "session_count": null,
                "session_count_ios": null,
                "social_accounts": {},
                "segment_ids": [
                    "5c60465aef96db00109429f6",
                    "5cee72af993ff0001032aa0d"
                ],
                "unsubscribed_from_emails": null,
                "geoip_data": {
                    "city_name": null,
                    "continent_code": null,
                    "country_code2": null,
                    "country_code3": null,
                    "country_name": null,
                    "postal_code": null,
                    "region_code": null,
                    "region_name": null,
                    "timezone": null,
                    "latitude": null,
                    "longitude": null
                },
                "ios_app_name": null,
                "ios_app_version": null,
                "ios_device": null,
                "ios_os_version": null,
                "android_app_name": null,
                "android_app_version": null,
                "android_device": null,
                "android_os_version": null,
                "browser_locale": null,
                "language_override": null,
                "last_request_at_android": null,
                "session_count_android": null,
                "healthscore": null,
                "last_visited_url": null,
                "has_device_token": null,
                "enabled_push_messaging": null,
                "is_mobile_unidentified": null,
                "marked_email_as_spam": null,
                "has_hard_bounce": null,
                "last_email_opened_at": null,
                "last_email_clicked_at": null,
                "utm_campaign": null,
                "utm_content": null,
                "utm_medium": null,
                "utm_source": null,
                "utm_term": null,
                "created_at": "2019-10-18T15:43:47.726Z",
                "updated_at": "2019-10-18T15:43:47.726Z",
                "id": "5da9ddb3a4ce2d0010ad6f53"
            },
            {
                "app_id": "5c60465aef96db00109429f0",
                "role": "user",
                "custom_data": {},
                "tag_ids": [
                    "5da9ddb2a4ce2d0010ad6f52"
                ],
                "email": "ktitorov@gmail.com",
                "name": "Kostya",
                "remote_created_at": "2019-01-03T12:50:00.000Z",
                "user_event_summaries": {},
                "user_id": null,
                "acquired_at": null,
                "company_ids": [
                    "5ddd668fd12b7f3820b1d281"
                ],
                "pseudonym": null,
                "display_as": "Kostya",
                "phone": null,
                "avatar": {
                    "initials": "K",
                    "color": "#a2edb7",
                    "image_urls": {
                        "mini": null,
                        "mini_x2": null,
                        "normal": null,
                        "normal_x2": null,
                        "large": null
                    },
                    "image_url": null
                },
                "user_time": {
                    "local_time": null,
                    "timezone": null,
                    "timezone_code": null,
                    "local_time_12h": null
                },
                "user_agent_data": {
                    "source": null,
                    "name": null,
                    "version": null,
                    "engine": null,
                    "engine_version": null,
                    "os": null,
                    "platform": null,
                    "mobile": "boolean"
                },
                "last_heard_from_at": null,
                "last_contacted_at": null,
                "last_request_at": null,
                "last_request_at_ios": null,
                "last_session_lasted": null,
                "last_seen_ip": null,
                "referral_url": null,
                "session_count": null,
                "session_count_ios": null,
                "social_accounts": {},
                "segment_ids": [
                    "5c60465aef96db00109429f6",
                    "5cee72af993ff0001032aa0d"
                ],
                "unsubscribed_from_emails": null,
                "geoip_data": {
                    "city_name": null,
                    "continent_code": null,
                    "country_code2": null,
                    "country_code3": null,
                    "country_name": null,
                    "postal_code": null,
                    "region_code": null,
                    "region_name": null,
                    "timezone": null,
                    "latitude": null,
                    "longitude": null
                },
                "ios_app_name": null,
                "ios_app_version": null,
                "ios_device": null,
                "ios_os_version": null,
                "android_app_name": null,
                "android_app_version": null,
                "android_device": null,
                "android_os_version": null,
                "browser_locale": null,
                "language_override": null,
                "last_request_at_android": null,
                "session_count_android": null,
                "healthscore": null,
                "last_visited_url": null,
                "has_device_token": null,
                "enabled_push_messaging": null,
                "is_mobile_unidentified": null,
                "marked_email_as_spam": null,
                "has_hard_bounce": null,
                "last_email_opened_at": null,
                "last_email_clicked_at": null,
                "utm_campaign": null,
                "utm_content": null,
                "utm_medium": null,
                "utm_source": null,
                "utm_term": null,
                "created_at": "2019-10-18T15:43:47.914Z",
                "updated_at": "2019-10-18T15:43:47.914Z",
                "id": "5da9ddb3a4ce2d0010ad6f56"
            }
        ]

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Update user  [PUT /user/{id}]
You can update an user using user object attributes. 

+ Parameters 

    + id (string) - user id

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "app_id": "5d7420cd9283e20020eb7ec6",
                "remote_created_at": "2020-03-08T17:48:07.317Z",
                "role": "user",
                "custom_data": {
                    "custom_field_1": "asfasdf",
                    "hobby": "collecting",
                    "custom_field_N": "dggidlsfgsdg"
                },
                "email": "ed.galstyan01@gmail.com",
                "user_id": "c46072c8f6e3168ed68928a8d8a4f8da",
                "acquired_at": null,
                "company_ids": [],
                "name": null,
                "owner_name": null,
                "pseudonym": null,
                "display_as": "ed.galstyan01@gmail.com",
                "phone": "jhbkjhb6123491234",
                "user_agent_data": {
                    "source": "Mozilla/5.0",
                    "name": "Chrome",
                    "version": "80.0.3987.132",
                    "engine": null,
                    "engine_version": null,
                    "os": "Windows 10",
                    "platform": "Windows",
                    "mobile": false
                },
                "last_heard_from_at": "2020-03-08T17:49:21.578Z",
                "last_contacted_at": "2020-03-09T09:44:36.388Z",
                "last_request_at": "2020-03-08T18:37:58.922Z",
                "last_request_at_ios": null,
                "last_session_lasted": 0,
                "last_seen_ip": "::ffff:37.252.92.184",
                "referral_url": null,
                "session_count": 4,
                "session_count_ios": null,
                "social_accounts": {},
                "tag_ids": [],
                "segment_ids": [
                    "5d7420cd9283e20020eb7ed0", 
                    "5d7420cd9283e20020eb7ed4"
                ],
                "unsubscribed_from_emails": null,
                "ios_app_name": null,
                "ios_app_version": null,
                "ios_device": null,
                "ios_os_version": null,
                "android_app_name": null,
                "android_app_version": null,
                "android_device": null,
                "android_os_version": null,
                "browser_locale": "en-US",
                "language_override": null,
                "last_request_at_android": null,
                "session_count_android": null,
                "user_event_summaries": {
                    "eventName": {
                        "first": "2020-03-08T17:48:55.793Z",
                        "last": "2020-03-08T17:48:55.793Z",
                        "count": 1,
                        "description": null
                    }
                },
                "healthscore": null,
                "last_visited_url": "http://camazonaws.com/widget/example.html?email=ed.galstyan01@gmail.com",
                "has_device_token": null,
                "enabled_push_messaging": null,
                "is_mobile_unidentified": null,
                "marked_email_as_spam": null,
                "has_hard_bounce": null,
                "last_email_opened_at": null,
                "last_email_clicked_at": null,
                "utm_campaign": null,
                "utm_content": null,
                "utm_medium": null,
                "utm_source": null,
                "utm_term": null,
                "geoip_data": {
                    "city_name": "Vanadzor",
                    "continent_code": "0",
                    "country_code": "AM",
                    "country_name": "AM",
                    "postal_code": null,
                    "region_code": null,
                    "region_name": "AS",
                    "timezone": "Asia/Yerevan",
                    "latitude": 40.8046,
                    "longitude": 44.4939
                },
                "avatar": {
                    "initials": null,
                    "color": "#a2edb7",
                    "image_urls": {
                        "mini": null,
                        "mini_x2": null,
                        "normal": null,
                        "normal_x2": null,
                        "large": null
                    },
                    "image_url": null
                },
                "user_time": {
                    "local_time": null,
                    "timezone": null,
                    "timezone_code": null,
                    "local_time_12h": null
                },
                "created_at": "2020-03-08T17:48:07.343Z",
                "updated_at": "2020-03-09T09:44:36.389Z",
                "id": "5e652fd7fd35e700111c877c",
                "url_visits": [
                    {
                        "page_url": "http://amazonaws.com/widget/example.html?email=ed.galstyan01@gmail.com",
                        "count": 5,
                        "first_visit_at": "2020-03-08T17:48:07.391Z",
                        "last_visit_at": "2020-03-08T17:48:29.061Z",
                        "id": "5e652fd7fd35e700111c8780"
                    }
                ]
            }

+ Response 200 (application/json)

        {
            "app_id": "5d7420cd9283e20020eb7ec6",
            "owner_id": null,
            "remote_created_at": "2020-03-08T17:48:07.317Z",
            "role": "user",
            "custom_data": {
                "custom_field_1": "asfasdf",
                "hobby": "collecting",
                "custom_field_N": "dggidlsfgsdg"
            },
            "email": "ed.galstyan01@gmail.com",
            "user_id": "c46072c8f6e3168ed68928a8d8a4f8da",
            "acquired_at": null,
            "company_ids": [],
            "name": null,
            "owner_name": null,
            "pseudonym": null,
            "display_as": "ed.galstyan01@gmail.com",
            "phone": "jhbkjhb6123491234",
            "user_agent_data": {
                "source": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36",
                "name": "Chrome",
                "version": "80.0.3987.132",
                "engine": null,
                "engine_version": null,
                "os": "Windows 10",
                "platform": "Windows",
                "mobile": false
            },
            "last_heard_from_at": "2020-03-08T17:49:21.578Z",
            "last_contacted_at": "2020-03-09T09:44:36.388Z",
            "last_request_at": "2020-03-08T18:37:58.922Z",
            "last_request_at_ios": null,
            "last_session_lasted": 0,
            "last_seen_ip": "::ffff:37.252.92.184",
            "referral_url": null,
            "session_count": 4,
            "session_count_ios": null,
            "social_accounts": {},
            "tag_ids": [],
            "segment_ids": [
                "5d7420cd9283e20020eb7ed0",
                "5d7420cd9283e20020eb7ed4"
            ],
            "unsubscribed_from_emails": null,
            "ios_app_name": null,
            "ios_app_version": null,
            "ios_device": null,
            "ios_os_version": null,
            "android_app_name": null,
            "android_app_version": null,
            "android_device": null,
            "android_os_version": null,
            "browser_locale": "en-US",
            "language_override": null,
            "last_request_at_android": null,
            "session_count_android": null,
            "user_event_summaries": {
                "eventName": {
                    "first": "2020-03-08T17:48:55.793Z",
                    "last": "2020-03-08T17:48:55.793Z",
                    "count": 1,
                    "description": null
                }
            },
            "healthscore": null,
            "last_visited_url": "http://c-static-testing.s3-website-us-east-1.amazonaws.com/widget/example.html?email=ed.galstyan01@gmail.com",
            "has_device_token": null,
            "enabled_push_messaging": null,
            "is_mobile_unidentified": null,
            "marked_email_as_spam": null,
            "has_hard_bounce": null,
            "last_email_opened_at": null,
            "last_email_clicked_at": null,
            "utm_campaign": null,
            "utm_content": null,
            "utm_medium": null,
            "utm_source": null,
            "utm_term": null,
            "geoip_data": {
                "city_name": "Vanadzor",
                "continent_code": "0",
                "country_code": "AM",
                "country_name": "AM",
                "postal_code": null,
                "region_code": null,
                "region_name": "AS",
                "timezone": "Asia/Yerevan",
                "latitude": 40.8046,
                "longitude": 44.4939
            },
            "avatar": {
                "initials": null,
                "color": "#a2edb7",
                "image_urls": {
                    "mini": null,
                    "mini_x2": null,
                    "normal": null,
                    "normal_x2": null,
                    "large": null
                },
                "image_url": null
            },
            "user_time": {
                "local_time": null,
                "timezone": null,
                "timezone_code": null,
                "local_time_12h": null
            },
            "created_at": "2020-03-08T17:48:07.343Z",
            "updated_at": "2020-03-13T14:07:12.015Z",
            "id": "5e652fd7fd35e700111c877c"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "User/Visitor not found",
            "error_type": "not_found"
        }

## Update user name [PUT /user/{id}/update_name]
You can change user name.

+ Parameters

    + id (string) - user id

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "new_name": "new name" 
            }

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "missing new_name field from body",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "Not Found",
            "error_type": "not_found"
        }

## Add tag user  [PUT /user/{id}/add_tag]
You can add tag to an user.

+ Parameters 

    + id (string, optional) - user ID

+ Request (application/json)

    + Headers  
    
            x-Token: "valid_access_token"

    + Body 

            {
                "tag": "tag id"
            }

+ Response 200 (application/json)

        {
            "n": 1,
            "nModified": 1,
            "opTime": {
                "ts": "6804844745244803073",
                "t": 33
            },
            "electionId": "7fffffff0000000000000021",
            "ok": 1,
            "$clusterTime": {
                "clusterTime": "6804844745244803073",
                "signature": {
                    "hash": "AsHiIGDYXl27RwwG6/0tSU6UBkA=",
                    "keyId": "6759628484898717698"
                }
            },
            "operationTime": "6804844745244803073"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Update user tags  [POST /user/update_tags]
You can change tags of user.

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "id": "569d36d20691ee79dd000591",
                "tag_ids": [
                            "569d36d20691ee79dd000591",
                            "569d36d20691ee79dd000592"
                           ]
            }

+ Response 200 (application/json)

    + Body 

            {
                "role": "user",
                "app_id": "5c60465aef96db00109429f0",
                "custom_data": {},
                "tag_ids": [
                    "5d1228d88100ad001072e3ea",
                    "5da9ddb2a4ce2d0010ad6f52"
                ],
                "email": "ktitorovk@gmail.com",
                "name": "new name",
                "remote_created_at": "2019-01-03T12:50:00.000Z",
                "user_event_summaries": {},
                "user_id": null,
                "acquired_at": null,
                "company_ids": [
                    "5ddd668fd12b7f3820b1d281"
                ],
                "pseudonym": null,
                "display_as": "new name",
                "phone": null,
                "avatar": {
                    "initials": "KK",
                    "color": "#7d5d9e",
                    "image_urls": {
                        "mini": null,
                        "mini_x2": null,
                        "normal": null,
                        "normal_x2": null,
                        "large": null
                    },
                    "image_url": null
                },
                "user_time": {
                    "local_time": null,
                    "timezone": null,
                    "timezone_code": null,
                    "local_time_12h": null
                },
                "user_agent_data": {
                    "source": null,
                    "name": null,
                    "version": null,
                    "engine": null,
                    "engine_version": null,
                    "os": null,
                    "platform": null,
                    "mobile": "boolean"
                },
                "last_heard_from_at": null,
                "last_contacted_at": null,
                "last_request_at": null,
                "last_request_at_ios": null,
                "last_session_lasted": null,
                "last_seen_ip": null,
                "referral_url": null,
                "session_count": null,
                "session_count_ios": null,
                "social_accounts": {},
                "segment_ids": [
                    "5c60465aef96db00109429f6",
                    "5cee72af993ff0001032aa0d"
                ],
                "unsubscribed_from_emails": null,
                "geoip_data": {
                    "city_name": null,
                    "continent_code": null,
                    "country_code2": null,
                    "country_code3": null,
                    "country_name": null,
                    "postal_code": null,
                    "region_code": null,
                    "region_name": null,
                    "timezone": null,
                    "latitude": null,
                    "longitude": null
                },
                "ios_app_name": null,
                "ios_app_version": null,
                "ios_device": null,
                "ios_os_version": null,
                "android_app_name": null,
                "android_app_version": null,
                "android_device": null,
                "android_os_version": null,
                "browser_locale": null,
                "language_override": null,
                "last_request_at_android": null,
                "session_count_android": null,
                "healthscore": null,
                "last_visited_url": null,
                "has_device_token": null,
                "enabled_push_messaging": null,
                "is_mobile_unidentified": null,
                "marked_email_as_spam": null,
                "has_hard_bounce": null,
                "last_email_opened_at": null,
                "last_email_clicked_at": null,
                "utm_campaign": null,
                "utm_content": null,
                "utm_medium": null,
                "utm_source": null,
                "utm_term": null,
                "created_at": "2019-10-18T15:43:47.726Z",
                "updated_at": "2020-03-17T07:55:04.401Z",
                "id": "5da9ddb3a4ce2d0010ad6f53"
            }

+ Response 400 (application/json)

        {
            "raw_message": "tag_ids should be an array",
            "attr": "tag_ids",
            "error_type": "invalid_request",
            "message": "Invalid request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## User bulk tag [POST /user/bulk_tag]
You can add a tag for users which are fitted for search criteria in predicates or are fitted for user id's in included_ids.
*predicates* are used if *included_ids* is empty.  

+ Request (application/json)

    + Attributes
        + tag_name (string, required) - Name of the tag
        + predicates (array) - List of search criteria for users, using if INCLUDED_IDS is empty
        + included_ids (array) - List IDs of updating users

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "tag_name": "Test tag",
                "predicates": [],
                "included_ids": [
                    "569d36d20691ee79dd000591",
                    "569d36d20691ee79dd000592"
                ]
            }

+ Response 200 (application/json)

    + Attributes
        + name (string) - Name of the tag
        + app_id (string) - Current app id
        + created_at (string) - Date of the tag creation
        + id (string) - Tag ID

    + Body

            {
                "name": "123",
                "app_id": "5c60465aef96db00109429f0",
                "created_at": "2020-03-12T15:50:41.248Z",
                "id": "5e6a5a5182a68800115c782b"
            }

+ Response 400 (application/json)

        {
            "attr": "tag_name",
            "error_type": "invalid_request",
            "message": "Invalid request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## User bulk tags [POST /user/bulk_tags]
Yo can add or delete tags from users which are fitted for search criteria in predicates or are fitted for user id's in included_ids.
*predicates* are used if *included_ids* is empty.

+ Request (application/json)

    + Attributes
        + action (string, required) - "add" for adding tags, "delete" for deleting tags from users
        + tag_ids (array, required) - List of tags ID
        + predicates (array) - List of search criteria for users, using if INCLUDED_IDS is empty
        + included_ids (array) - List IDs of updating users
        
    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "action": "add", 
                "tag_ids": ["tag1_id", "tag2_id"],
                "predicates": [],
                "included_ids": [
                                "569d36d20691ee79dd000591",
                                "569d36d20691ee79dd000592"
                                ]
            }

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Predicates required",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "Not found users",
            "error_type": "not_found"
        }

## User bulk message [POST /user/bulk_message]
You can send manual message to selected users which id's are in included_ids.
The message will be visible in the manual message list.

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "included_ids": [
                    "user1_id",
                    ...,
                    "userN_id"
                ],
                "blocks": [
                    {
                        "type": "paragraph",
                        "text": "hello"
                    }
                ],
                "subject": null,
                "type": "in-app",
                "message_style": "chat",
                "delivery_option": "full",
                "email_style": null
            }

+ Response 200 (application/json)

    + Body 

            {
                "status": "ok"
            }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Destroy user [PUT /user/{id}/destroy]
You can delete user from application. Allowed for Admins with permission **can_delete_users**.

+ Parameters 

    + id (string, optional) - user ID

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 
            
            {}

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 403 (application/json)

        {
            "message": "Forbidden",
            "raw_message": "forbidden",
            "error_type": "forbidden"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "Not found user",
            "error_type": "not_found"
        }

## Bulk delete users [POST /user/bulk_delete]
You can delete users from application. Allowed for Admins with permission **can_delete_users**.

+ Request (application/json)

    + Attributes
        + predicates (array) - List of search criteria for users, using if INCLUDED_IDS is empty
        + included_ids (array) - List IDs of deleting users   
    
    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "included_ids": [
                    "user1_id", 
                    "userN_id"
                ],
                "predicates": []
            }

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Predicates or included_ids should be required",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Unsubscribe user [PUT /user/{id}/unsubscribe]
You can unsubscribe user from mailing.

+ Parameters 

    + id (string, optional) - user ID

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 
            
            {}

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Id should be required",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "Not found user",
            "error_type": "not_found"
        }

## Resubscribe user [PUT /user/{id}/resubscribe]
You can resubcribe user on mailing.

+ Parameters 

    + id (string, optional) - user ID

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 
            
            {}

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Id should be required",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "Not found user",
            "error_type": "not_found"
        }

## Bulk unsubscribe users [POST /user/bulk_unsubscribe]
You can unsubscribe users from mailing. 

+ Request (application/json)

    + Attributes
        + predicates (array) - List of search criteria for users, using if INCLUDED_IDS is empty
        + included_ids (array) - List IDs of unsubscribing users   
    
    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "included_ids": [
                    "user1_id", 
                    "userN_id"
                ],
                "predicates": []
            }

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Predicates or included_ids should be required",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Bulk resubcribe users [POST /user/bulk_resubscribe]
You can resubscribe users on mailing.

+ Request (application/json)

    + Attributes
        + predicates (array) - List of search criteria for users, using if INCLUDED_IDS is empty
        + included_ids (array) - List IDs of unsubscribing users   
    
    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "included_ids": [
                    "user1_id", 
                    "userN_id"
                ],
                "predicates": []
            }

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Predicates or included_ids should be required",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Block user [PUT /user/{id}/block]
You can block user.

+ Parameters 

    + id (string, optional) - user ID

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 
            
            {}

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Bulk block users [POST /user/bulk_block]
You can block users.

+ Request (application/json)

    + Attributes
        + predicates (array) - List of search criteria for users, using if INCLUDED_IDS is empty
        + included_ids (array) - List IDs of unsubscribing users   
    
    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "included_ids": [
                    "user1_id", 
                    "userN_id"
                ],
                "predicates": []
            }

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Predicates or included_ids should be required",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Export user info [GET /user/{id}/export_info]
Job with type - **export_user_info** for an user creating

+ Parameters

    + id (string, optional) - User ID

+ Request (application/json)

    + Headers

            x-Token: valid_access_token
    
    + Body
    
            {}

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Id should be required",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "Not found user",
            "error_type": "not_found"
        }

## Get online users [GET /user/online_users]
You can find online user at the current moment

+ Request (application/json)

    + Headers

            x-Token: valid_access_token
    
    + Body
    
            {}

+ Response 200 (application/json)
    
        {}

## Get admins of app [GET /user/get_app_admins]
You can get list of admins of current application.

+ Request (application/json)

    + Headers

            x-Token: valid_access_token
    
    + Body
    
            {}

+ Response 200 (application/json)
    
        {}

# User events [/userevent]

## User events object
|Atrribute|Type|Description|
|:--------|----|-----------|
|app_id|App object|Link for application. Application ID.|
|name|string||
|description|string||
|selector|string||
|dom_event|string||
|is_active|boolean||
|archived_at|datetime||
|delete_archived_events_after_some_time|boolean||

## List user events [GET]

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 
            
            {}

+ Response 200 (application/json)

        [
            {
                "app_id": "56be64e1d18189818efd226",
                "name": "Bought Gold Plan",
                "description": "User who bought the Gold plan 123",
                "is_active": true,
                "archived_at": null,
                "delete_archived_events_after_some_time": false,
                "created_at": "2019-03-28T15:33:38.764Z",
                "id": "5c9ce95258e6c600106295a1"
            },
        ]

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

# Companies [/company]
Companies are organizations using our Application. Company will have its own description and be associated with users.

## Company object
|Atrribute|Type|Description|
|:--------|----|-----------|
|app_id|App object|Link for application. Application ID.|
|name|string|Company name|
|name_downcased|string|Company name in lowercase letters|
|remote_company_id|string|Remote Company identificator|
|remote_company_id_downcased|string|Remote Company identificator in lowercase letters|
|custom_data|json|Custom Company attributes|
|last_request_at|datetime||
|monthly_spend|number||
|plan_id|string||
|remote_created_at|datetime||
|session_count|integer||
|tag_ids|array||
|user_count|integer||
|segment_ids|array||
|note_ids|array||
|taggings|array||
|user_event_summaries|array||

## Create company [POST]

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "name": "Name company"
            }

+ Response 201 (application/json)

        {
            "name": "Name company",
            "app_id": "5c60465aef96db00109429f0",
            "session_count": 0,
            "user_count": 0,
            "remote_created_at": "2020-03-11T15:04:20.595Z",
            "remote_company_id": null,
            "custom_data": {},
            "last_request_at": null,
            "monthly_spend": null,
            "plan_id": null,
            "tag_ids": [],
            "segment_ids": [
                "5c60465aef96db00109429f9"
            ],
            "note_ids": [],
            "created_at": "2020-03-11T15:04:20.658Z",
            "updated_at": "2020-03-11T15:04:20.658Z",
            "id": "569d36d20691ee79dd000591"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## List all companies [GET]

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 
            
            {}

+ Response 200 (application/json)

        [
            {
                "app_id": "5c60465aef96db00109429f0",
                "name": "Name company",
                "session_count": 0,
                "user_count": 0,
                "remote_created_at": "2020-03-11T15:04:20.595Z",
                "remote_company_id": null,
                "custom_data": {},
                "last_request_at": null,
                "monthly_spend": null,
                "plan_id": null,
                "tag_ids": [],
                "segment_ids": [
                    "5c60465aef96db00109429f9"
                ],
                "note_ids": [],
                "created_at": "2020-03-11T15:04:20.658Z",
                "updated_at": "2020-03-11T15:04:20.658Z",
                "id": "569d36d20691ee79dd000591"
            }
        ]

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Search company [POST /company/search{?include_count,limit,skip,sort}]

+ Parameters

    + include_count: true (boolean, required)
    + limit: 25 (number, required)
    + skip: 0 (number, required)
    + sort: "last_request_at desc" (string, required)

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "predicates": [
                    {
                        "type": "date",
                        "attribute": "remote_created_at",
                        "comparison": "gt",
                        "value": 1,
                        "operator": "and",
                        "hyper_type": "date",
                        "iconClass": "bell",
                        "attributeTitle": "Signed up",
                        "attributeDescription": "The time a person first signed up for your product",
                        "id": "586c13daf0d5dbce55c009f7"
                    }
                ]
            }

+ Response 200 (application/json)

    + Body 

            [
                {
                    "app_id": "5c60465aef96db00109429f0",
                    "name": "Name company",
                    "session_count": 0,
                    "user_count": 0,
                    "remote_created_at": "2020-03-11T15:04:20.595Z",
                    "remote_company_id": null,
                    "custom_data": {},
                    "last_request_at": null,
                    "monthly_spend": null,
                    "plan_id": null,
                    "tag_ids": [],
                    "segment_ids": [
                        "5c60465aef96db00109429f9"
                    ],
                    "note_ids": [],
                    "created_at": "2020-03-11T15:04:20.658Z",
                    "updated_at": "2020-03-11T15:04:20.658Z",
                    "id": "5e68fdf4bfe61a00114a8e88"
                }
            ]

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Add company tag [PUT /company/{id}/add_tag]

+ Parameters

    + id (string, required) - Company id

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body

            {
                "tag": "tag_id"
            }

+ Response 200 (application/json)

        {
            "n": 0,
            "nModified": 0,
            "opTime": {
                "ts": "6804839213326925826",
                "t": 33
            },
            "electionId": "7fffffff0000000000000021",
            "ok": 1,
            "$clusterTime": {
                "clusterTime": "6804839213326925826",
                "signature": {
                    "hash": "ibUX5EusNDq3Dgw5GjdGEcen2Hs=",
                    "keyId": "6759628484898717698"
                }
            },
            "operationTime": "6804839213326925826"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Update company tags [POST /company/update_tags]

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "id": "569d36d20691ee79dd000591",
                "tag_ids": [
                    "569d36d20691ee79dd000591",
                    "569d36d20691ee79dd000592"
                ]
            }

+ Response 200 (application/json)

        {
            "name": "Name company",
            "app_id": "5c60465aef96db00109429f0",
            "session_count": 0,
            "user_count": 0,
            "remote_created_at": "2020-03-11T15:04:20.595Z",
            "remote_company_id": {},
            "custom_data": {},
            "last_request_at": {},
            "monthly_spend": {},
            "plan_id": {},
            "tag_ids": [
                "569d36d20691ee79dd000591",
                "569d36d20691ee79dd000592"
            ],
            "segment_ids": [
                "5c60465aef96db00109429f9"
            ],
            "note_ids": [],
            "created_at": "2020-03-11T15:04:20.658Z",
            "updated_at": "2020-03-12T13:15:37.862Z",
            "id": "569d36d20691ee79dd000591"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Company bulk tag [POST /company/bulk_tag]

+ Request (application/json)

    + Attributes
        + tag_name (string, required) - Name of the tag
        + predicates (array) - Search criteria for companies.
        + included_ids (array) - List ID's of companies for updating. If EMPTY then working PREDICATES attribute. 
    
    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "tag_name": "Test tag",
                "predicates": [
                    {
                        "type": "date",
                        "attribute": "remote_created_at",
                        "comparison": "gt",
                        "value": 1,
                        "operator": "and",
                        "hyper_type": "date",
                        "iconClass": "bell",
                        "attributeTitle": "Signed up",
                        "attributeDescription": "The time a person first signed up for your product",
                        "id": "586c13daf0d5dbce55c009f7"
                    }
                ],
                "included_ids": [
                    "569d36d20691ee79dd000591",
                    "569d36d20691ee79dd000592"
                ]
            }

+ Response 200 (application/json)

        {
            "name": "new_",
            "app_id": "5c60465aef96db00109429f0",
            "created_by_id": "5c60465aef96db00109429ef",
            "created_at": "2020-03-12T13:12:12.711Z",
            "id": "5e6a352cbfe61a00114a9a6c"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Not found company",
            // OR Predicates required
            "error_type": "invalid_request"       
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Company bulk tags [POST /company/bulk_tags]

+ Request (application/json)

    + Attributes
        + tag_ids (array) - List ID's of tags
        + predicates (array) - Search criteria for companies.
        + included_ids (array) - List ID's of companies for updating. If EMPTY then working PREDICATES attribute. 

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "tag_ids": [
                    "tag1_id",
                    "tag2_id"
                ],
                "predicates": [
                    {
                        "type": "date",
                        "attribute": "remote_created_at",
                        "comparison": "gt",
                        "value": 1,
                        "operator": "and",
                        "hyper_type": "date",
                        "iconClass": "bell",
                        "attributeTitle": "Signed up",
                        "attributeDescription": "The time a person first signed up for your product",
                        "id": "586c13daf0d5dbce55c009f7"
                    }
                ],
                "included_ids": [
                    "569d36d20691ee79dd000591",
                    "569d36d20691ee79dd000592"
                ]
            }

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Predicates required",
            "attribute": "predicates",
            "error_type": "invalid_request"       
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "Not found companies",
            "error_type": "not_found"
        }

## Company bulk delete [POST /company/bulk_delete]

+ Request (application/json)

    + Attributes
        + included_ids (array) - List ID's of companies for updating. If EMPTY then working PREDICATES attribute. 
        + predicates (array) - Search criteria for companies.

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "included_ids": [
                    "companyId1", 
                    "companyIdN"
                ],
                "predicates": [
                    {
                        "type": "date",
                        "attribute": "remote_created_at",
                        "comparison": "gt",
                        "value": 1,
                        "operator": "and",
                        "hyper_type": "date",
                        "iconClass": "bell",
                        "attributeTitle": "Signed up",
                        "attributeDescription": "The time a person first signed up for your product",
                        "id": "586c13daf0d5dbce55c009f7"
                    }
                ]
            }

+ Response 200 (application/json)

    + Body 

            {
                "status": "ok"
            }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Predicates required",
            "attribute": "predicates",
            "error_type": "invalid_request"       
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "Not found companies",
            "error_type": "not_found"
        }

# Signup Flow [/]
In order to start working with Captivate API, please create new account or login.
Please use *Signin and create app* method if you want to create a new Admin account and register a new Application. If the Application you want to join is already exist in Captivate, plase use *Sign in and join app*. 
In order to authorize as an existing user please use either login with email/password or login via google account.

## Login with email/password [POST /login]

+ Request (application/json)

    + Attributes
         + email (string, required)
         + password (string, required)
         + remember_me (boolean)

    + Body

            {
                "email": "some@gmail.com",
                "password": "some password",
                "remember_me": true
            }

+ Response 200 (application/json)

        {
            "access_token": "...",
            "app_ids": [
                "...",
                "...",
                "..."
            ],
            "current_app_id": "..."
        }
            
+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Email or Password is incorrect",
            "error_type": "invalid_request"
        }

## Login via google account [GET /auth/google]
If you have google account connected with Captivate account, plase use *Login via google account*. System will redirect you to google authentication page in order to authorize you in Captivate. 

+ Request (application/json)
    
        {}
    
+ Response 200 

## Forgot password [POST /forgot_password]

In order to restore your password, please specify your email in *Forgot password" endpoint. Check your email after the request. 

+ Request (application/json)

        {
            "email": "some@gmail.com"
        }

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Email or Password is incorrect",
            "error_type": "invalid_request" 
        }

+ Response 500 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "External service error sending email",
            "error_type": "invalid_request"  
        }

## Reset password [POST /reset_password/{token}]

Using *Reset password* endpoint you can change your password. Please, specify existing password and new one. 

+ Parameters 

    + token (string) - invite token

+ Request (application/json)

        {
            "password": "new password"
        }

+ Response 200 (application/json)

        {
            "status": "ok",
            "access_token": "token_code",
            "admin_id": "admin_id"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "Token not found",
            "error_type": "not_found"
        }

## Signup and create app [POST /signup_and_create_app]

+ Request (application/json)

    + Attributes
        + terms_of_service (boolean, required) - User must accept Captivate terms of service. If true: ok.
        + admin
            + name (string, required) - Admin name.
            + email (string, required) - Admin email adress. Will be used for further authorization.
            + password (string, required) - Admin password. Will be used for further authorization.
            + phone (string) - Admin phone number.
            + role (string) - Admin role.
        + app
            + name (string, required) - Client application name.
            + url (string, required) - Client application URL.
        + messanger_settings
            + default_locate (string, required) - Set "en" for English.
            + supported_locates (array) - An array of locales settings. 
                
                For each locale the following parameters should be specified: "locale_id", "name", "user_welcome_message", "visitor_welcome_message", "is_permitted". 
                For more information look into request sample.
        + appearance_settings
            + base_color (string, required) - Hex Color Code for base theme.

    + Body 

            {
                "terms_of_service": true,
                "admin": {
                    "name": "Test",
                    "email": "some@gmail.com",
                    "password": "test123!",
                    "phone": "",
                    "role": "Design"
                },
                "app": {
                    "name": "MyComp",
                    "url": "www.example.com"
                },
                "messanger_settings": {
                    "default_locale": "en",
                    "supported_locales": [
                        {
                            "locale_id": "en",
                            "name": "English",
                            "user_welcome_message": "Ask us anything, or share your feedback.",
                            "visitor_welcome_message": "Have a question? Chat with us",
                            "is_permitted": true
                        }
                    ]
                },
                "appearance_settings": {
                    "base_color": "#0071b2"
                }
            }

+ Response 200 (application/json)

    + Attributes
        + access_token (string)
        + admin_id (string) - ID of created Admin.
        + app_id (string) - ID of created Application.

    + Body

            {
                "status": "ok",
                "access_token": "...",
                "admin_id": "...",
                "app_id": "..."
            }

## Signup and join app [POST /signup_and_join_to_app/{token}]

+ Parameters 

    + token (string) - invite token

+ Request (application/json)

     + Attributes
        + terms_of_service (boolean, required) - User must accept Captivate terms of service. If true: ok.
        + admin
            + name (string, required) - Admin name.
            + email (string, required) - Admin email address. Will be used for further authorization.
            + password (string, required) - Admin password. Will be used for further authorization.
            + phone (string) - Admin phone number.
            + role (string) - Admin role.

    + Body

            {
                "terms_of_service": true,
                "admin": {
                    "name": "Test",
                    "email": "some@gmail.com",
                    "password": "test123!",
                    "phone": "",
                    "role": "Design"
                }
            }


+ Response 200 (application/json)

    + Attributes
        + access_token (string)
        + admin_id (string) - ID of created Admin.

    + Body

            {
                "status": "ok",
                "access_token": "...",
                "admin_id": "...",
            }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Email has already been taken",
            "error_type": "invalid_request"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "not found token",
            "error_type": "not_found"
        }

## Join an app [POST /join_to_app/{token}]

+ Parameters 

    + token (string) - invite token

+ Request (application/json)
    
        {}

+ Response 200 (application/json)

        {
            "status": "ok",
            "app_id": "...",
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "not found token",
            "error_type": "not_found"
        }

## Check email [POST /check_email]
Check if specific email is registered in Captivate (has an account). 
This endpoint is public, so using token is not required. 

+ Request (application/json)

    + Attributes
        + email: "some@gmail.com" (string, required)  

    + Body

            {
                "email": "some@gmail.com"
            }

+ Response 200 (application/json)

    + Attributes
        + exists (boolean) - For registred email - TRUE, another - FALSE 

    + Body

            {
                "exists": true
            }

+ Response 400 (application/json)    

        {
            "message": "Invalid request",
            "raw_message": "Email should be correct",
            "error_type": "invalid_request"     
        }

# Invites collection [/invite]
Endpoints for process of inviting new teammates

## Create invite [POST]
    
+ Request (application/json)

    + Attributes
        + email (string) - Email address of invite member.
        + description (string) - Description of type of access.
        + role (string) - Two kind of access: full_access or restricted_access.
        + can_access_settings_and_billing (boolean)
        + can_export_data (boolean)
        + can_send_messages (boolean)
    
    + Headers

            x-Token: valid_access_token

    + Body 

            {
                "email": "invite1@gmail.com",
                "descripiton": "Full Access",
                "role": "full_access",
                "can_access_settings_and_billing": true,
                "can_export_data": true,
                "can_send_messages": true
            }

+ Response 200 (application/json)

        {
            "email": "invite1@gmail.com",
            "description": "Full Access",
            "role": "full_access",
            "can_export_data": true,
            "can_send_messages": true,
            "can_delete_users": true,
            "can_reassign_conversations": true,
            "can_delete_messages": true,
            "can_access_settings_and_billing": true,
            "active": true,
            "invite_token": "e99dd5aecc113a94fe48bf4ba32edbb57e5de7c97fd8b82436e76610a085fc46"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "email conflict",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Edit invite [PUT /invite/{token}]

+ Parameters 

    + token (string) - Invite token

+ Request (application/json)

    + Headers

            x-Token: valid_access_token

    + Body

            {
                "role": "restricted_access",
                "description": "Restricted Access",
                "can_send_messages": true,
                "can_export_data": true,
                "can_delete_messages": true,
                "can_delete_users": true,
                "can_reassign_conversations": true,
                "can_access_settings_and_billing": false
            }

+ Response 200 (application/json)

        {
            "email": "invite1@gmail.com",
            "description": "Restricted Access",
            "role": "restricted_access",
            "can_export_data": true,
            "can_send_messages": true,
            "can_delete_users": true,
            "can_reassign_conversations": true,
            "can_delete_messages": true,
            "can_access_settings_and_billing": false,
            "active": true,
            "invite_token": "893882d05eb0e4b5c40bc3c12a0780becc41b017dbaec6855a1af833f3ea862c"
        }

+ Response 401 (application/json)    

        {
            "message": "Unauthorized"
        }

## Re-send invite [POST /invite/{token}/resend]

+ Parameters 

    + token (string) - invite token

+ Request (application/json)

    + Headers

            x-Token: valid_access_token

    + Body
    
            {}

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "not found token",
            "error_type": "not_found"
        }

## Get invite info [GET /invite/{token}]

+ Parameters 

    + token (string) - invite token

+ Request (application/json)

    + Headers
        
            x-Token: valid_access_token

    + Body
    
            {}

+ Response 200 (application/json)

    + Body 

            {
                "token": "invite token",
                "app_name": "App Name",
                "sender_name": "John",
                "sender_email": "john@gmail.com",
                "sender_avatar": "http://...",
                "authorized_sign_in_methods": ["email_password", "email_password_otp", "google_oauth2"],
                "active": true,
                "created_at": null,
                "is_email_invite": true,
                "email": "invite1@gmail.com",
                "teammates": [],
                "has_account": false
            }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "not found token",
            "error_type": "not_found"        
        }

## Get invites list [GET]

+ Request (application/json)

    + Headers
        
            x-Token: valid_access_token

    + Body
    
            {}

+ Response 200 (application/json)

        [
            {
                "token": "invite token",
                "app_name": "App Name",
                "sender_name": "John",
                "sender_email": "john@gmail.com",
                "sender_avatar": "http://...",
                "authorized_sign_in_methods": ["email_password", "email_password_otp", "google_oauth2"],
                "active": true,
                "created_at": null,
                "is_email_invite": true,
                "email": "invite1@gmail.com",
                "teammates": [],
                "has_account": false
            }
        ]

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not found",
            "error_type": "not_found"
        }

## Delete invite [DELETE /invite/{token}]

+ Parameters

    + token (string) - invite token

+ Request

    + Headers
        
            x-Token: valid_access_token

    + Body
    
            {}

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "not found token",
            "error_type": "not_found"        
        }

# Pemissions collection [/permission]
Endpoints for updating or removing specified admin's permissions.

Note: Operation allowed only for admins, who has true value for "can_access_settings_and_billing" field.
Otherwise response would be 403 Forbidden.

## Edit permission [PUT /permission/{id}]

+ Parameters 

    + id (string) - Admin id
    
+ Request (application/json)
    
    + Headers  
    
            x-Token: valid_access_token

    + Body

            {
                "role": "full_access",
                "description": "Full Access",
                "can_export_data": true,
                "can_send_messages": true,
                "can_reassign_conversations": true,
                "can_delete_messages": true,
                "can_delete_users": true
            }
    
+ Response 200 (application/json) 

    + Body

            {
                "active": true,
                "can_send_messages": true,
                "can_export_data": true,
                "can_reassign_conversations": true,
                "can_delete_messages": true,
                "can_delete_users": true,
                "can_access_settings_and_billing": false,
                "role": "restricted_access",
                "description": "Restricted Access",
                "descriptions": ["Restricted Access"]
            }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "Permissions not found",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Delete permission [DELETE /permission/{id}]
Remove specified admin from current app.

+ Parameters 

    + id (string) - Admin id
    

+ Request (application/json)

    + Attributes
        + reassign_auto_messages_admin_id (string, required) - Admin's id, who will be reassigned automessages.
        + reassign_replies_admin_id (string, required) - Admin's id, who will be reassigned replies.
    
    + Headers  
    
            x-Token: valid_access_token
            
    + Body

            {
                "reassign_auto_messages_admin_id": "45353453534534",
                "reassign_replies_admin_id": "324353534324"
            }

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 400 (application/json)

        {
            "message": "Invalid request",
            "raw_message": "reassign_auto_messages_admin_id should be ObjectID",
            "attribute": "reassign_auto_messages_admin_id",
            "error_type": "invalid_request"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

# Application collection [/app]

## Create application [POST]

+ Request (application/json)

    + Attributes
        + terms_of_service (boolean, required) - User must accept Captivate terms of service.
        + admin
            + role (string) - Admin role.
        + app
            + name (string, required) - Client application name.
            + url (string, required) - Client application URL.
        + messanger_settings
            + default_locate (string, required) - Set "en" for English.
            + supported_locates (array) - An array of locales settings. 
                
                For each locale the following parameters should be specified: "locale_id", "name", "user_welcome_message", "visitor_welcome_message", "is_permitted". 
                For more information look into request sample.
        + appearance_settings
            + base_color (string, required) - Hex Color Code for base theme.

    + Headers
        
            x-Token: valid_access_token

    + Body

            {
                "terms_of_service": true,
                "admin": {
                    "role": "Design"
                },
                "app": {
                    "name": "MyComp",
                    "url": "www.example.com"
                },
                "messanger_settings": {
                    "default_locale": "en",
                    "supported_locales": [
                        {
                            "locale_id": "en",
                            "name": "English",
                            "user_welcome_message": "Ask us anything, or share your feedback.",
                            "visitor_welcome_message": "Have a question? Chat with us",
                            "is_permitted": true
                        }
                    ]
                },
                "appearance_settings": {
                    "base_color": "#0071b2"
                }
            }

+ Response 200 (application/json)

    + Attributes
        + id (string) - Id of created App.
        + name (string) - Name of created App.

    + Body

            {
                "id": "app id",
                "name": "MyComp"
            }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Update application [PUT /app/{id}]
Don't use this endpoint, for updating Application use *_settings endpoints.

+ Parameters 

    + id (string) - application id

+ Request (application/json)

    + Attributes
        + message_from_email (enum)
            + app (string)
            + service (string)
    
    + Headers  
    
            x-Token: valid_access_token

    + Body

            {
                "message_from_email": "app"
            }

+ Response 200 (application/json)

    + Body 

            {
                "id": "app id",
                "name": "MyComp"
            }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Delete application [DELETE /app/{id}]

+ Parameters 

    + id (string) - application id
    
+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token

    + Body 
 
            {}

+ Response 200 (application/json)

        {
            "status": "ok"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 403 (application/json)

        {
            "message": "Forbidden",
            "raw_message": "forbidden",
            "error_type": "forbidden"
        }

+ Response 404 (application/json)

        {
            "message": "Not Found",
            "raw_message": "app not found",
            "error_type": "not_found"
        }

## Get inboxes [GET /app/inboxes]

+ Request (application/json)

    + Headers  
    
            X-Token: valid_access_token

    + Body 
            
            {}

+ Response 200 (application/json)

    + Body 

            [
                {
                    "identifier": "all",
                    "type": "base",
                    "name": "All",
                    "count": 0,
                    "count_closed": 0,
                    "count_opened": 0
                },
                {
                    "identifier": "mentioned",
                    "type": "base",
                    "name": "Mentioned",
                    "count": 0,
                    "count_opened": 0,
                    "count_closed": 0
                },
                {
                    "identifier": "unassigned",
                    "type": "base",
                    "name": "Unassigned",
                    "count": 0,
                    "count_opened": 0,
                    "count_closed": 0
                },
                {
                    "id": "56ba70c0b63e6908233dcb8a",
                    "identifier": "56ba70c0b63e6908233dcb8a",
                    "type": "admin",
                    "name": "Admin",
                    "email": "admin@gmail.com",
                    "count": 0,
                    "count_opened": 0,
                    "count_closed": 0
                },
                {
                    "id": "5e624218fd35e700111c852e",
                    "identifier": "5e624218fd35e700111c852e",
                    "type": "team",
                    "name": "New",
                    "count": 0,
                    "count_opened": 0,
                    "count_closed": 0
                }
            ]

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Read general settings [GET /app/general_settings]

+ Request (application/json)

    + Headers  
    
            x-Token: valid_access_token
    
    + Body 
            
            {}

+ Response 200 (application/json)

    + Body 

            {
                "time_zone_name": "America/Los_Angeles",
                "force_2fa": false,
                "should_gather_social_data": false,
                "companies_enabled": false,
                "uses_test_app": false,
                "customer_has_active_subscription": false,
                "authorized_sign_in_methods": [
                    "email_password",
                    "email_password_otp",
                    "google_oauth2"
                ],
                "can_enable_enforce_sso": false,
                "app_name": "Captivate"
            }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 403 (application/json)

        {
            "message": "Forbidden",
            "raw_message": "forbidden",
            "error_type": "forbidden"
        }

## Edit general settings [POST /app/general_settings]

+ Request (application/json)

    + Attributes
        + time_zone_name (string)
        + force_2fa (boolean)
        + should_gather_social_data (boolean)
        + companies_enabled (boolean)
        + uses_test_app (boolean)
        + customer_has_active_subscription (boolean)
        + authorized_sign_in_methods (array)
        + can_enable_enforce_sso (boolean)
        + app_name (string)
        + avatar
        + googleSignIn (boolean)
        + twoFactorAuthentication (boolean)
        + companies (boolean)
        + testVersion (boolean)
    
    + Headers  
    
            x-Token: valid_access_token
    
    + Body 

            {
                "time_zone_name": "America/Los_Angeles",
                "force_2fa": false,
                "should_gather_social_data": false,
                "companies_enabled": true,
                "uses_test_app": false,
                "customer_has_active_subscription": false,
                "authorized_sign_in_methods": [
                                                "email_password",
                                                "email_password_otp",
                                                "google_oauth2"
                                              ],
                "can_enable_enforce_sso": false,
                "app_name": "Captivate",
                "avatar": null,
                "googleSignIn": false,
                "twoFactorAuthentication": false,
                "companies": false,
                "testVersion": false 
            }

+ Response 200 (application/json)

        {
            "time_zone_name": "America/Los_Angeles",
            "force_2fa": false,
            "should_gather_social_data": false,
            "companies_enabled": false,
            "uses_test_app": false,
            "customer_has_active_subscription": false,
            "authorized_sign_in_methods": [
                "email_password",
                "email_password_otp",
                "google_oauth2"
            ],
            "can_enable_enforce_sso": false,
            "app_name": "Captivate"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

+ Response 403 (application/json)

        {
            "message": "Forbidden",
            "raw_message": "forbidden",
            "error_type": "forbidden"
        }

## Read messaging settings [GET /app/messaging_settings]

+ Request (application/json)

    + Headers  
    
            x-Token: "valid_access_token"
    
    + Body 
            
            {}

+ Response 200 (application/json)

        {
            "default_assignee_id": "0",
            "comment_placeholder": "Hello {{first_name | fallback: \"there\" }},",
            "hide_all_unsubscribe_links": false,
            "incoming_email_address": "57cdb4a0ea04b88c09397b11@incoming.riika.com"
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Edit messaging settings [POST /app/messaging_settings]

+ Request (application/json)

    + Headers  

            X-Token: valid_access_token
    
    + Body 

            {
                "comment_placeholder": "Hi {{first_name}},",
                "default_assignee_id": "0",
                "hide_all_unsubscribe_links": false
            }

+ Response 200 (application/json)

        {
            "comment_placeholder": "Hi {{first_name}},",
            "default_assignee_id": "0",
            "hide_all_unsubscribe_links": false
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Read messanger settings [GET /app/messanger_settings]

+ Request (application/json)

    + Headers  
    
            X-Token: valid_access_token
    
    + Body 
    
            {}

+ Response 200 (application/json)

        {
            "rtm_enabled": true,
            "messenger_enabled_for_signed_in_users": true,
            "messenger_enabled_for_anonymous": true,
            "widget_audio_enabled": true,
            "widget_responder_enabled": true,
            "widget_responder_message": "We'll notify you here and by email when we reply.",
            "response_time": 0,
            "default_locale": "en",
            "parsed_allowed_domains": ["domain"],
            "custom_response_delay_enabled": false,
            "custom_response_delay": 0,
            "supported_locales": [
                {
                    "locale_id": "en",  
                    "name": "English",  
                    "welcome_message": "Hello, there"
                },
            ],
            "office_hours": [
                {
                    "period": "weekends", // 'everyday', 'weekdays', 'weekends', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'
                    "start_time": 540, // minutes from 0 to 1440
                    "end_time": 1080, // minutes from 0 to 1440
                }
            ],
            "custom_response_delay_options": {
                "_0": "Typically replies in a few minutes",
                "_1": "Typically replies in a few hours",
                "_2": "Typically replies in a day"
            },
            "available_locales": [
                {
                    "locale_id": "ar",
                    "name": "Arabic"
                },
                // ...
            ],
            "available_browser_locales": [
                {
                    "locale_id": "ar",
                    "name": "Arabic"
                },
                // ...
            ]
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Edit messanger settings [POST /app/messanger_settings]

+ Request (application/json)

    + Headers  
    
            X-Token: valid_access_token
    
    + Body 

            {
                "rtm_enabled": true,
                "messenger_enabled_for_signed_in_users": true,
                "messenger_enabled_for_anonymous": true,
                "widget_audio_enabled": true,
                "widget_responder_enabled": true,
                "widget_responder_message": "We'll notify you here and by email when we reply.",
                "response_time": 0,
                "default_locale": "en",
                "parsed_allowed_domains": ["domain"],
                "custom_response_delay_enabled": false,
                "custom_response_delay": 0,
                "supported_locales": [
                    {
                        "locale_id": "en",  
                        "name": "English",  
                        "welcome_message": "Hello, there"
                    },
                ],
                "office_hours": [
                    {
                      "period": "weekends", // 'everyday', 'weekdays', 'weekends', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'
                      "start_time": 540, // minutes from 0 to 1440
                      "end_time": 1080, // minutes from 0 to 1440
                    }
                ],
                "custom_response_delay_options": {
                    "_0": "Typically replies in a few minutes",
                    "_1": "Typically replies in a few hours",
                    "_2": "Typically replies in a day"
                },
                "available_locales": [
                    {
                       "locale_id": "ar",
                       "name": "Arabic"
                    },
                    // ...
                ],
                "available_browser_locales": [
                    {
                        "locale_id": "ar",
                        "name": "Arabic"
                    },
                    // ...
                ]
            }

+ Response 200 (application/json) 

        {
            "rtm_enabled": true,
            "messenger_enabled_for_signed_in_users": true,
            "messenger_enabled_for_anonymous": true,
            "widget_audio_enabled": true,
            "widget_responder_enabled": true,
            "widget_responder_message": "We'll notify you here and by email when we reply.",
            "response_time": 0,
            "default_locale": "en",
            "parsed_allowed_domains": ["domain"],
            "custom_response_delay_enabled": false,
            "custom_response_delay": 0,
            "supported_locales": [
                {
                    "locale_id": "en",  
                    "name": "English",  
                    "welcome_message": "Hello, there"
                },
            ],
            "office_hours": [
                {
                    "period": "weekends", // 'everyday', 'weekdays', 'weekends', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'
                    "start_time": 540, // minutes from 0 to 1440
                    "end_time": 1080, // minutes from 0 to 1440
                }
            ],
            "custom_response_delay_options": {
                "_0": "Typically replies in a few minutes",
                "_1": "Typically replies in a few hours",
                "_2": "Typically replies in a day"
            },
            "available_locales": [
                {
                    "locale_id": "ar",
                    "name": "Arabic"
                },
                // ...
            ],
            "available_browser_locales": [
                {
                    "locale_id": "ar",
                    "name": "Arabic"
                },
                // ...
            ]
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Read messanger appearance settings [GET /app/appearance_settings]

+ Request (application/json)

    + Headers  
    
            X-Token: valid_access_token
    
    + Body 
    
            {}

+ Response 200 (application/json)

        {
            "base_color": "#0071b2",
            "show_powered_by": true,
            "messenger_background": "background-1",
            "messenger_enabled_for_visitors": true,
            "messenger_enabled_for_users": true,
            "messenger_padding_horizontal": 10, 
            "messenger_padding_vertical": 10,
            "messenger_position": "left",
            "reply_disabled_for": [],
        }

+ Response 401 (application/json)

        {
            "message": "Unauthorized"
        }

## Edit messanger appearance settings [POST /app/appearance_settings]

+ Request (application/json)

    + Headers  
    
            X-Token: valid_access_token
    
    + Body 

            {
                "reply_disabled_for":[
                    "lead",
                    "visitor",
                    "user"
                ],
                "base_color": "#0071b2",
                "show_powered_by": true,
                "messenger_background": "background-1",
                "messenger_enabled_for_visitors": true,
                "messenger_enabled_for_users": true,
                "messenger_position": "left", // left or right
                "messenger_padding_horizontal": 10, // default is 20 
                "messenger_padding_vertical": 10 // defaults is 20 
            }

[...]
